/* Import Font From Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&family=Roboto:wght@400;500&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-color: #161616;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

#main{
    width:100%;
    height:100vh;
    box-sizing: border-box;
    background-color: #edf1fd;    ;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Raleway", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
}

.menu{
    display: flex;
}

.menu li a{
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;
}

.lang{
    color:#292929;

}

.logo{
    font-size: 25px;
    font-weight: 700;
    color: #292929;
    font-family: "Raleway", sans-serif;
}

.menu li a:hover, .active{
    background-color: #292929;
    color:#ffffff !important ;
    font-weight: 700;
    transition: all ease 0.4s;
}

/* Home Styling */
.home{
    display: flex;
    background: url("../img/foodbg.png") no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: "Raleway", sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    text-align: left;
    font-size: 27px;
    margin-left: 30px;
}

.home .home-content .text-2{
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    margin-left: 30px;
    background-color: rgba(0,0,0,0.7);
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
    
}

.home .home-content .text-3{
    text-align: left;
    font-size: 20px;
    margin: 8px 0;
    margin-left: 40px;
    background-color: rgba(255,50,23,0.7);
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
}

.home .home-content .text-3 span{
    text-align: center;
    color: crimson;
    font-weight: 700;
}

#foods{
    width: 100%;
    height: 100vh;
    font-family: "raleway", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.f-heading h1{
    color: #ffffff;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
}

.f-heading p{
    color: rgba(249, 249, 249, 0.30);
    font-size: 1rem;
    margin: 0px;
    padding: 0px;

}

.f-heading{
    text-align: center;
    margin: 20px 0px;
}

.f-box{
    background-color: #2b2b2b;
    width: 500px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0, 0,0, 0.1);
}

.f-b-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-b-img{
    width: 100%;
    height: 70%;
}

.f-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.f-b-text{
    width: 100%;
    height: 30%;
    background-color: #1e1e1e;
    display:flex;
    justify-content: center;
    align-items: center;
}

.f-b-text a{
    margin: 0px;
    color:#ffffff;
    font-size: 1.1rem;
    font-family: "raleway", sans-serif;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-flow-into: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.f-type{
    font-family: "raleway", sans-serif;
    color: #ffffff;
    background-color: #151515;
    padding: 10px 15px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);

}

.f-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.f-b-text a:hover{
    color: rgba(255, 255, 255, 0.50);
}

@media(max-width:1190px){
    #main{
        background-size: 1150px;
    }

    .name{
        left: 10%;
        top: 50%;
        transform: translate(-10%), -50%;
    }

    .profil-model img{
        height: 400px;

    }
    
    #foods{
        height: auto;
    }

    .f-b-container{
        flex-wrap: wrap;
    }
}

.scrollToTopBtn {
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 100;
	display: none;
	padding: 8px 4px;
	cursor: pointer;
  }